body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
  color: #ee4444;
  font-size: 1.3em;
  background-color: #ffffff;
  margin-top: 12px;
  margin-bottom: 6px;
}

.blurb {
  line-height: 18px;
  background-color: #ffffff;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 20px;
}

.content {
  padding: 0px 12px 0px 12px;
}

.well {
  background-color: #ffffff;
  padding: 0px;
  padding-left: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.article {
  background-color: #ffffff;
  line-height: 24px;
  padding: 0px;
  margin-bottom: 0px;
}

.post-content img {
  box-shadow: 5px 5px 5px #888888;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ccc;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.navbar-inverse {
    background-color: #222;
}

code {
  color: #205090;
  font-weight: bold;
  background-color: #e0e0e0;
}
